/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 3rem;
    font-size: 1.5rem;
    font-family: system-ui;
    background-color: #dee2e6;
}
@media (max-width:576px) {
    body{
        padding: 4%;
    }
}